@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0 ">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <title> SUBURBAN </title>
    <link rel="stylesheet" type="text/css" href="../content/style.css">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>

<div class="resume">
    <div class="resume_left">
        <div class="resume_profile">
            <img src="https://i.ibb.co/R0YrFW1/FelixDP.jpg" alt="FelixDP" border="0">
        </div>
        <div class="resume_content">
            <div class="resume_item resume_info">
                <div class="title">
                    <p class="bold">Felix Rafael D. De Guzman</p>
                    <p class="regular">Student</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fas fa-map-signs"></i>
                        </div>
                        <div class="data">
                            Brgy. L.S.E, Angeles City <br /> Pampanga
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="data">
                            0997-6555-864
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="data">
                            felix.dg.50@gmail.com
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fab fa-weebly"></i>
                        </div>
                        <div class="data">
                            Felixiiiiible@Twitter
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_skills">
                <div class="title">
                    <p class="bold">Interests</p>
                </div>
                <ul>
                    <li>
                        <div class="skill_name">
                            Anime
                        </div>
                        <div class="skill_progress">
                            <span style="width: 99.9%;"></span>
                        </div>
                        <div class="skill_per">99.9%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Video Games
                        </div>
                        <div class="skill_progress">
                            <span style="width: 100%;"></span>
                        </div>
                        <div class="skill_per">100%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Books
                        </div>
                        <div class="skill_progress">
                            <span style="width: 95%;"></span>
                        </div>
                        <div class="skill_per">95%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Sports
                        </div>
                        <div class="skill_progress">
                            <span style="width: 90%;"></span>
                        </div>
                        <div class="skill_per">90%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Food
                        </div>
                        <div class="skill_progress">
                            <span style="width: 100%;"></span>
                        </div>
                        <div class="skill_per">100%</div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_social">
                <div class="title">
                    <p class="bold">PERSONAL INFO</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fas fa-calendar-day"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Date of Birth:</p>
                            <p>April 5, 2001</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-hospital"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Place of Birth:</p>
                            <p>AUF-MC</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-bible"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Religion:</p>
                            <p>Iglesia Ni Cristo</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Marital Status:</p>
                            <p>Single</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="resume_right">
        <div class="resume_item resume_about">
            <div class="title">
                <p class="bold">ACHIEVEMENTS</p>
            </div>
            <p><B><font size="5">S.Y 2020-2021 AUF League of Legends University Week Champion, S.Y 2020-2021 Dean's Lister.</font></B></p>
        </div>
        <div class="resume_item resume_work">
            <div class="title">
                <p class="bold">EDUCATION</p>
            </div>
            <ul>
                <li>
                    <div class="date"><b>TERTIARY</b></div>
                    <div class="info">
                        <p class="semi-bold">Angeles University Foundation.</p>
                        <p>Present</p>
                    </div>
                </li>
                <li>
                    <div class="date"><b>SECONDARY</b></div>
                    <div class="info">
                        <p class="semi-bold">Angeles University Foundation-Integrated School</p>
                        <p>S.Y. 2017 - 2019</p>
                    </div>
                </li>
                <li>
                    <div class="date"><b>PRIMARY</b></div>
                    <div class="info">
                        <p class="semi-bold">Proverbsville School Inc. </p>
                        <p>S.Y. 2007 - 2016</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_education">
            <div class="title">
                <p class="bold">Certificates/Seminars Attended</p>
            </div>
            <ul>
                <li>
                    <div class="date">February 28, 2020</div>
                    <div class="info">
                        <p class="semi-bold">Build 2020: Innovating the Future</p>
                        <p>           Angeles University Foundation</p>
                    </div>
                </li>
                <li>
                    <div class="date">February 26, 2020</div>
                    <div class="info">
                        <p class="semi-bold">Web Development Seminar</p>
                        <p>Angeles University Foundation</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_hobby">
            <div class="title">
                <p class="bold">Hobbies</p>
            </div>
            <ul>
                <li><i class="fas fa-book"></i></li>
                <li><i class="fas fa-gamepad"></i></li>
                <li><i class="fas fa-music"></i></li>
                <li><i class="fab fa-pagelines"></i></li>
            </ul>
        </div>
    </div>
</div>>
