@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <link rel="stylesheet" type="text/css" href="../content/home.css">
    <!DOCTYPE html>
    <html>
    <head>
        <title>Fashion Designer Landing Page</title>
  

        <link rel="stylesheet" type="text/css" href="../content/home.css">
    </head>

    <body style="background-color:yellow;">

        <div id="header">
            <div id="logo">
                <h3><span>My</span> Website</h3>
            </div>

            <nav>

            </nav>
        </div>

        <div id="container">
            <div id="content-container">
                <h1>Flex Mo Lang</h1>
                <p>
                    Games don't make you violent, <br>lag does.
                </p>
                <button>Read More</button>
            </div>
            <div id="bg-container">
                <img src="https://i.ibb.co/YpkLCjQ/Raf.png" alt="Raf" border="0">
            </div>
        </div>



    </body>
</html>
